.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    padding: 0 12px;
}

.login {
    background-color: #5A939F;
    width: 600px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 12px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.login-area {
    background-color: #fff;
    /* border-radius: 12px 12px 0 0; */
    color: #181c2e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-area p {
    margin-bottom: 1rem;
    color: #181c2e;
}

form {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form p {
    color: white;
    margin-bottom: 12px;
}

.login input {
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color: black;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #EDDEA3;

    color: #07181F;
    font-size: 1.3rem;
}

form button:hover {
    opacity: 0.9;
}

.login a {
    margin: 1rem 0;
    color: white;
    cursor: pointer;
}

.login a:hover {
    opacity: 0.7;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}

.remember-me label {
    cursor: pointer;
    margin: 0;
    padding-bottom: 13px;
}

.remember-me label:hover {
    opacity: 0.7;
}