.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    padding: 0 12px;
    background-color: #181c2e;
    color: white;
}

.topo h1 {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.menu:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #54596d89;
    border-radius: 100%;
}

.logout {
    width: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 12px;
    right: 12px;
    align-items: center;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    background-color: #1A202C;
    color: white;
    font-size: 1.3rem;
    z-index: 1;
}

.logout:hover {
    opacity: 0.9;
}

.white {
    color: white;
}