/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* > p {
    color: #1A202C;
}

html,body, #root {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    font: 14px;
    background-color: #EFEFEF;
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

/* Aplica a customização do scroll no WebKit */
::-webkit-scrollbar {
    width: 6px; /* Define a largura da barra de rolagem */
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #adb6bf; /* Cor do thumb (a parte que se move) */
    border-radius: 10px; /* Deixa a barra mais arredondada */
}

::-webkit-scrollbar-track {

    background-color: transparent; /* Cor do fundo da barra de rolagem */
}

