/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body, #root {
    height: 100%;
}

body {
    font: 14px;
    background-color: #EFEFEF;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}