@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

:root,
[data-theme="light"] {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --border: #00000033;
  --faded-border: #0000000c;
}

.dark,
[data-theme="dark"] {
  --background-color: #121212;
  --foreground-color: #ffffff;
  --border: #ffffff33;
  --faded-border: #ffffff0c;
}

.grid-bg {
  background: conic-gradient(
      from 90deg at 1px 1px,
      #0000 90deg,
      var(--faded-border) 0
    )
    0 0/50px 50px;
}

body {
  width: 100vw;
  height: 100vh;
  font: 14px;
  font-family: "Onest", sans-serif;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
sub {
  user-select: none;
}

button {
  cursor: pointer;
}

.login-bg {
  background-image: url("https://images.pexels.com/photos/2116721/pexels-photo-2116721.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=900");
}

.MuiAccordion-region {
  border-radius: 2rem;
}

/* Aplica a customização do scroll no WebKit */
::-webkit-scrollbar {
  width: 6px; /* Define a largura da barra de rolagem */
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #adb6bf; /* Cor do thumb (a parte que se move) */
  border-radius: 10px; /* Deixa a barra mais arredondada */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Cor do fundo da barra de rolagem */
}
