steps:
  - name: Checkout source
    uses: actions/checkout@v4

  - name: Use Node.js 20.9.0
    uses: actions/setup-node@v4
    with:
      node-version: 20.9.0
      cache: "npm"

  - name: Install dependencies
    run: npm ci --ignore-scripts

  - name: Build
    env:
      VITE_API_URL: ${{ secrets.STG_API_URL }}
    run: npm run build
