name: Build Docker images

on:
  push:
    branches:
      - production
  workflow_dispatch:

jobs:
  build-and-push-dockerfile-image:
    concurrency: deploy-production

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app-provedores-front:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/app-provedores-front:${{ github.sha }}
          platforms: linux/amd64
          build-args: |
            VITE_API_URL=${{ secrets.API_URL }}
